# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Jupyter_Notebooks\python_data_analysis_2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
